* {
  margin: 0px;
  padding: 0px;
}

html {
  height: 100vh;
}

body {
  padding: 0;
  height: auto;
}

a,
a:hover,
a:focus,
a:active {
  text-decoration: none;
  color: inherit;
  outline: none;
}

.line-container {
  margin: 10px;
  width: 50%;
  margin: auto;
  &,hr {
    opacity: 0.5;
  }
}

@media screen and (max-width: 900px) {
  .line-container {
    width: 95%;
  }
}
