<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <title>Groupomania social media</title>
    <link href="../public/css/style.css" rel="stylesheet" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <script src="https://kit.fontawesome.com/b52becc51d.js" crossorigin="anonymous"></script>
    <link
      href="https://fonts.googleapis.com/css2?family=Fira+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Inter:wght@100;200;400;500;600;900&display=swap"
      rel="stylesheet"
    />
  </head>
  <body>
    <header class="header sticky">
      <div class="header-logobg">
        <img
          src="../images/logo groupomania.png"
          alt="logo groupomania couleur"
          class="header-logo"
        />
      </div>
    </header>
    <!-- wall part -->
    <div class="wall">
      <!-- add new post block -->
      <div class="post">
        <div class="name-container postSpaces">
          <p>Vous</p>
        </div>

        <div class="post-container postSpaces">
          <h2>Écrivez quelque chose ou postez une image</h2>
          <form action="" method="post">
            <div class="textarea-container">
              <textarea
                name="title"
                id="title"
                class="textarea"
                placeholder="Hey... écris quelquechose!"
              ></textarea>
            </div>
            <div class="bt-bar">
              <div>
                <button type="submit" class="regular-button" id="annuler">Annuler</button>
              </div>
              <div class="blue-bt">
                <input
                  type="submit"
                  value="Post"
                  id="post"
                  class="regular-button"
                />
              </div>
            </div>
            <div class="bt-bar">
              <div class="picture-bt-container">
                <button class="regular-button picture-bt">
                  <h3 class="plus">+</h3>
                  <img
                    src="../images/ICONE PICTURE.png"
                    alt="icone picture"
                    class="icone-picture"
                  />
                </button>
                <small>format accepté: png, jpg, jpeg</small>
              </div>
            </div>
          </form>
        </div>
      </div>
      <!-- line -->
      <div class="line-container">
        <hr></hr>
      </div>
      <!-- post wall div -->
      <div class="post">
        <div class="post-block-up">
          <div class="name-container postSpaces">
            <p>Marie D</p>
          </div>
          <div class="post-container posted-post-spaces">
            <div class="date-container">
              <h3>22/07/22 - 10:20</h3>
            </div>
            <div class="title-container">
              <h2 id="title">Marc et Antoine du marketing grillés en pause café</h2>
            </div>
            <div class="picture-container">
              <img src="../images/marc et antoine-min.png" alt="2 persons speaking" class="picpost">
            </div>
          </div>
        </div>
        <!-- </div> -->
        <div class="post-block-bottom">
            <div class="like-side">
              <p>20</p>
              <img src="../images/thumbs-up-black-icon.webp" alt="thumb-up" class="thumb">
            </div>
            <div class="button-side">
              <div>
                <button type="submit" class="regular-button pink-bt" id="modifier">Modifier</button>
              </div>
              <div>
                <button type="submit" class="regular-button red-bt" id="supprimer">Supprimer</button>
              </div>
            </div>
        </div>
      </div>
    </div>

  </body>
  <script src="main.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/vue@2.6.14/dist/vue.js"></script>
</html>
