.wall {
    position: relative;
    top: 100px;
    z-index: -1;
    width: 50%;
    margin: auto;
  }

.post {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin: auto;

}
.posts {
  width: 100%;
  margin: auto;
}
.post-container {
  width: 85%;
}
.posted-post-spaces {
padding: 30px 0 0 0;
}
.name-container{
  width: 15%;
}
.post-block-up {
  display: flex;
    flex-wrap: wrap;
}

.post-block-bottom {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 10px;
}

.date-container {
  background-color: $color-primary;
  border-radius: 8px 8px 0 0;
  z-index: 0;
  >h3 {
    padding: 8px 8px 12px 8px;
    color: white;
  }
}

.title-container {
  background-color: $color-disable;
  border-radius: 8px;
  position: relative;
  bottom: 6px;
  z-index: 1;
  >h2 {
    padding: 8px 8px 12px 8px;
    color: black;
  }
 }

 .picpost {
  width: 100%;
  border-radius:0 0 8px 8px;
  position: relative;
  bottom: 12px;
  z-index: 2;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
 }

.like-side, .button-side{
  display: flex;
  align-items: flex-start;
  margin-left: 15%;
}

.thumb {
  width: 20px;
  margin-left: 5px;
}

 @media screen and (max-width: 900px) {
  .wall {
    position: absolute;
    top: 80px;
    z-index: -1;
  }
  .post {
    width: 90%;
    flex-direction: column;
  }
  .postSpaces {
    padding: 10px 0;
  }
.posted-post-spaces {
  padding: 10px 0 0 0;
}
.post-block-up {
  display: inline-block
}
 >p {
   margin-right: 20px;
   color: #4E5166;
 }

 * {
   margin: 0px;
   padding: 0px;
 }

.name-container {
  width: 100%;
}
.post-container {
  width: 100%;
}
.like-side {
  margin-left: 0;
}
}


