<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <title>Groupomania social media</title>
    <link href="../public/css/style.css" rel="stylesheet" />
    <script
      src="https://kit.fontawesome.com/b52becc51d.js"
      crossorigin="anonymous"
    ></script>

    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400;700;900&display=swap"
      rel="stylesheet"
    />
  </head>
  <body id="app">
    <header class="header sticky">
      <div class="header-logobg">
        <img
          src="../images/logo groupomania.png"
          alt="logo groupomania couleur"
          class="header-logo"
        />
      </div>
    </header>
    <div class="wall-login">
      <section class="form-container">
        <div class="logform-bg">
          <form method="post" id="form" class="log__form">
            <div class="log__form__question">
              <label for="lastName">Nom:</label>
              <input
                type="text"
                name="lastName"
                id="lastName"
                required
                value=""
                v-model="userLastName"
              />
              <p id="lastNameErrorMsg"></p>
            </div>
            <div class="log__form__question">
              <label for="firstName">Prénom:</label>
              <input
                type="text"
                name="firstName"
                id="firstName"
                v-model="userFirstName"
                required
              />
              <p id="firstNameErrorMsg"></p>
            </div>
            <div class="log__form__question">
              <label for="email">Email:</label>
              <input
                v-model="email"
                type="email"
                name="email"
                id="email"
                v-model="userEmail"
                required
              />
              <p id="emailErrorMsg"></p>
            </div>
            <div class="log__form__question">
              <label for="password">Password: </label>
              <input
                v-model="password"
                type="password"
                name="password"
                id="password"
                v-model="userPassword"
                required
              />
              <p id="passwordErrorMsg"></p>
            </div>
            <div class="submit-section">
              <div class="log__form__submit--signUp regular-button blue-bt">
                <input type="submit" value="SingUp" id="signUp" />
              </div>
              <div class="log__form__submit--signIn regular-button" disabled>
                <input type="submit" value="SingIn" id="signUp" />
              </div>
            </div>
          </form>
        </div>
      </section>
    </div>
  </body>
  <script src="https://unpkg.com/vue@3"></script>

  <!-- <div id="app">{{ message }}</div> -->

  <script>
    const { createApp } = Vue;

    createApp({
      data() {
        return {
          message: "Hello Vue!",
        };
      },
    }).mount("#app");
  </script>
  <script src="main.js"></script>
</html>
